<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="digaritmo icon" href="../images/squarelogo.jpg"/>  
      
    <%= csrf_meta_tag %>     
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %> 
    
    <meta property="fb:page_id" content="177991115583456" />
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23130479-1']);
      _gaq.push(['_trackPageview']);
    (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>    
  </head>
  
  <body>
 
    <div class="container">
          
      <![if IE 9]>
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>       
        <%= yield %>             
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <![endif]>
      
      <!--[if lte IE 8]>
       Welcome to DigaRitmo guitar duo's website. <br>
       To view the website you need the latest version of Internet Explorer:<br>
       <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">
       Download Internet Explorer 9.</a><br><br>
       Or you could use Google Chrome:<br>
       <a href="http://www.google.com/chrome/intl/en/make/download.html?brand=CHKZ">
       Download Google Chrome.</a><br>
      <![endif]--> 
            
    </div>    
  </body>
  
</html>